<mat-toolbar color="primary" class="cust-toolbar">
  <button mat-icon-button (click)="inputSideNav.toggle()"><mat-icon>menu</mat-icon></button>
  <span class="toolbar-app-name">{{title}}</span>
  <span class="cust-toolbr"></span>
  <!-- <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Click Me!">
    <mat-icon>more_vert</mat-icon>
  </button> -->
  <button mat-icon-button data-toggle="modal" data-target="#globalcount-modal" aria-label="Global Counts!" class="gbl-btn">
    <span [innerHTML]="worldEmoji"></span> World
  </button>
</mat-toolbar>
<!-- <mat-menu #menu="matMenu">
  <button mat-menu-item disabled>
    <span>Hello</span>
  </button>
  <button mat-menu-item disabled>
    <mat-icon>person</mat-icon>
    <span>My Account</span>
  </button>
  <button mat-menu-item>
    <mat-icon>power_off</mat-icon>
    <span>Log Out</span>
  </button>
</mat-menu> -->
<!-- World count modal-->
<div class="modal fade" id="globalcount-modal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modal-bg">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle" *ngIf="!!covidGlobalCounts">Global Counts, as of {{covidGlobalCounts.lastRefreshedDate | date: 'mediumDate'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span style="color: #ECF0F6;" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row" *ngIf="!!covidGlobalCounts">
          <div class="col pt-2">
            <mat-card class="data-card">
              <mat-card-content>
                <p>total confirmed cases</p>
                <h2 class="display-4" style="color: #FB475E;">
                  {{covidGlobalCounts.globalConfirmed | number}}
                </h2>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col pt-2">
            <mat-card class="data-card">
              <mat-card-content>
                <p>total deaths</p>
                <h2 class="display-4">
                  {{covidGlobalCounts.globalDeaths | number}}
                </h2>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col pt-2">
            <mat-card class="data-card">
              <mat-card-content>
                <p>total recovered</p>
                <h2 class="display-4" style="color: #24BE6C;">
                  {{covidGlobalCounts.globalRecovered | number}}
                </h2>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Error modal-->
<div class="modal fade" tabindex="-1" role="dialog" id="error-modal" data-backdrop="static" data-keyboard="false" #errormodal>
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="display-4">Oops!</h1>
      </div>
      <div class="modal-body">
        <p class="lead"><strong>Not able to access <a target="_blank" href="https://github.com/">github</a>. Please open this site on some other device or use your smartphone.</strong></p>
      </div>
    </div>
  </div>
</div>
