.toolbar-app-name {
  margin-left: 8px;
  font-size: 18px;
  cursor: pointer;
}

.cust-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}
.gbl-btn {
  right: 60px;
  font-size: 16px;
}

@media (max-width: 480px) {
  .gbl-btn {
    right: 30px;
    font-size: 16px;
  }
}
.data-card {
  width: 100%;
  height: 100%;
  background-color: #ECF0F6;
  color: #05263B
}

.modal-bg {
  background-color: #05263B;
  color: #ECF0F6
}

#error-modal {
	background-color: #05263B;
}

#globalcount-modal {
  background-color: rgba($color: #05263B, $alpha: 0.7)
}

tr:hover {
  background-color: #ECF0F6;
  color: #05263B;
  font-weight: bold;
  .conf {
    color: #FC6D7F
  }
  .rec {
    color: #45D286
  }
}

thead tr th {
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: #ECF0F6;
  color: #05263B;
}

#searchCountry {
  background-color: #05263B;
  margin-bottom: 5px;
  border-width: 0 0 thin 0;
  color: white;
}
