<div class="container">
  <div class="pt-3">
    <p>Here is the complete list of API and frameworks used to build this site</p>
    <ul class="list-unstyled">
      <li>Data Sources
        <ul>
          <li>Johns Hopkins - <a target="_blank" href="https://github.com/CSSEGISandData/COVID-19">https://github.com/CSSEGISandData/COVID-19</a></li>
          <li>JHU Data in JSON - <a target="_blank" href="https://github.com/pomber/covid19">https://github.com/pomber/covid19</a></li>
          <li>India regional data - <a target="_blank" href="https://github.com/amodm/api-covid19-in">https://github.com/amodm/api-covid19-in</a></li>
        </ul>
      </li>
      <li>&nbsp;</li>
      <li>Built with
        <ul>
          <li>Angular - <a target="_blank" href="https://angular.io">https://angular.io</a></li>
          <li>Angular Material - <a target="_blank" href="https://material.angular.io/">https://material.angular.io/</a></li>
          <li>Bootstrap - <a target="_blank" href="https://getbootstrap.com/">https://getbootstrap.com/</a></li>
        </ul>
      </li>
      <li>&nbsp;</li>
      <li>Code source - <a target="_blank" href="https://github.com/akshayajeevan/my-app">Github</a></li>
    </ul>
  </div>
  <p>Want to highlight or contribute something? <a target="_blank" href="mailto:jeevan.akshaya@gmail.com">Mail me</a></p>
  <div style="height: 300px;"></div>
</div>
