<div class="container">
  <div class="pt-3" style="height: 100vh;">
    <p>I made this app as I want to check the COVID-19 cases and updates for India (and few more countries). Cheers! <span [innerHTML]="smileEmoji"></span></p>
    <p>Here is the complete list of API and frameworks used to build this site</p>
    <ul class="list-unstyled">
      <li>Data Sources
        <ul>
          <li>Johns Hopkins - <a rel="noopener" target="_blank" href="https://github.com/CSSEGISandData/COVID-19">https://github.com/CSSEGISandData/COVID-19</a></li>
          <li>JHU Data in JSON - <a rel="noopener" target="_blank" href="https://github.com/pomber/covid19">https://github.com/pomber/covid19</a></li>
          <li>India regional data - <a rel="noopener" target="_blank" href="https://github.com/amodm/api-covid19-in">https://github.com/amodm/api-covid19-in</a></li>
          <li>Germany regional data - <a rel="noopener" target="_blank" href="https://services7.arcgis.com/mOBPykOjAyBO2ZKk/ArcGIS/rest/services/Coronaf%c3%a4lle_in_den_Bundesl%c3%a4ndern/FeatureServer/0/query">here</a></li>
          <li>USA regional data - <a rel="noopener" target="_blank" href="https://github.com/akshayajeevan/covid19-us-states">https://github.com/akshayajeevan/covid19-us-states</a></li>
        </ul>
      </li>
      <li>&nbsp;</li>
      <li>Built with
        <ul>
          <li>Angular - <a rel="noopener" target="_blank" href="https://angular.io">https://angular.io</a></li>
          <li>Angular Material - <a rel="noopener" target="_blank" href="https://material.angular.io/">https://material.angular.io/</a></li>
          <li>Bootstrap - <a rel="noopener" target="_blank" href="https://getbootstrap.com/">https://getbootstrap.com/</a></li>
          <li>Chart.js - <a rel="noopener" target="_blank" href="https://www.chartjs.org/">https://www.chartjs.org/</a></li>
        </ul>
      </li>
      <li>&nbsp;</li>
      <li>Code source - <a rel="noopener" target="_blank" href="https://github.com/akshayajeevan/my-app">Github</a></li>
    </ul>

  <p>Want to highlight or contribute something? <a rel="noopener" target="_blank" href="mailto:jeevan.akshaya@gmail.com">Mail me <span [innerHTML]="mailEmoji"></span></a></p>
  <div class="text-center pt-3"><p><small>Stay Home Stay Safe</small></p></div>
</div>
</div>
