<a class="twitter-timeline" data-lang="en" data-theme="dark" href="https://twitter.com/MoHFW_INDIA?ref_src=twsrc%5Etfw" *ngIf="data === 'India'">Tweets by MoHFW_INDIA</a>

<a class="twitter-timeline" data-lang="en" data-theme="dark" href="https://twitter.com/BMG_Bund?ref_src=twsrc%5Etfw" *ngIf="data === 'Germany'">Tweets by BMG_Bund</a>

<a class="twitter-timeline" data-lang="en" data-theme="dark" href="https://twitter.com/HHSGov?ref_src=twsrc%5Etfw" *ngIf="data === 'USA'">Tweets by HHSGov</a>

