/* You can add global styles to this file, and also import other style files */

//@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

html, body { height: 100%; }
body { margin: 0; font-family: 'Open Sans', sans-serif; }

.container {
  margin-top: 65px;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

::-webkit-scrollbar {
  display: none;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px !important;
  }
}

@media (max-width: 480px) {
  .container {
      padding: 0;
      overflow-x: hidden;
      margin-left: 0;
      margin-right: 0;
  }
  .col {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .container {
    padding: 10px;
    overflow-x: hidden;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 15px;
  }
}

.cust-toolbr {
  flex: 1 1 auto
}

.mat-accordion > .mat-expansion-panel {
  margin-bottom: 10px;
}


// .mat-expansion-panel-content > .mat-expansion-panel-body {
//   background: #f3f4f5;
// }

