
.data-card {
  width: 100%;
  height: 100%;
  background-color: #ECF0F6;
  color: #05263B
}

@media (max-width: 480px) {
  #canvas {
    width: 500px !important;
  }
  .chart-card, #canvas {
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  .scroll-row {
    overflow-x: auto;
    white-space: nowrap;
  }
}
