<div class="container">
  <div class="text-center pt-1">
    <h3 class="display-4">COVID-19 data for
      <select class="w-auto country-select" [(ngModel)]="selectedCountry" data-size="1" (change)="countryChange()">
        <option value="Germany" class="country-opt">Germany</option>
        <option value="India" class="country-opt">India</option>
        <option value="USA" class="country-opt">USA</option>
    </select>
    </h3>
    <p><em>real data for {{selectedCountry}}: related to COVID-19 diagnosis, recovery and deaths</em></p>
  </div>
  <div class="row mb-2">
    <div class="col col-12 col-sm-4 col-md-4">
      <mat-card class="data-card">
        <mat-card-content>
          <p>as of {{selectedCountryLatestData.lastRefreshedDate | date: 'mediumDate'}}, total confirmed cases</p>
          <h2 class="display-4" style="color: #FC6D7F;" *ngIf="!!selectedCountryLatestData">
            <app-animate-number [digit]="selectedCountryLatestData.confirmed" [duration]="1000">
            </app-animate-number>
          </h2> last 1 day +{{selectedCountryLatestData.lastDayChange}} cases
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col col-12 col-sm-4 col-md-4">
      <mat-card class="data-card">
        <mat-card-content>
          <p>total deaths</p>
          <h2 class="display-4" *ngIf="!!selectedCountryLatestData">
            <app-animate-number [digit]="selectedCountryLatestData.deaths" [duration]="1000"></app-animate-number>
          </h2>with {{selectedCountryLatestData.deathRate}}% death rate
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col col-12 col-sm-4 col-md-4">
      <mat-card class="data-card">
        <mat-card-content>
          <p>total recovered</p>
          <h2 class="display-4" style="color: #45D286;" *ngIf="!!selectedCountryLatestData">
            <app-animate-number [digit]="selectedCountryLatestData.recovered" [duration]="1000">
            </app-animate-number>
          </h2> with
          {{selectedCountryLatestData.recoveryRate}}% recovery rate
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row mb-2 sroll-row">
    <div class="col col-12 col-sm-12 col-md-6">
      <mat-card class="data-card chart-card">
        <mat-card-header>
          <mat-card-title>Daily cases in {{selectedCountry}}</mat-card-title>
          <mat-card-subtitle>
            <em><small>Last Update:
                {{selectedCountryLatestData.lastRefreshedDate | date: 'MMM d, y, h:mm:ss a z'}}</small></em>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <canvas #dailycanvas id="daily-canvas" role="img" class="chart-canvas">Your browser does not support.</canvas>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col col-12 col-sm-12 col-md-6">
      <mat-card class="data-card chart-card">
        <mat-card-header>
          <mat-card-title>Total Cases in States of {{selectedCountry}}</mat-card-title>
          <mat-card-subtitle><em><small>Last Update: {{regLastRefreshed | date: 'MMM d, y, h:mm:ss a z'}}</small></em>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <canvas #regionalcanvas id="reg-canvas" role="img" class="chart-canvas">Your browser does not support.</canvas>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <mat-expansion-panel expanded hideToggle>
    <mat-expansion-panel-header>
      Useful Informations
    </mat-expansion-panel-header>
    <div class="row">
      <div class="col col-12 col-sm-4 col-md-4">
        <mat-card class="data-card">
          <mat-card-content>
            <p>Call  &nbsp;<a *ngIf="selectedCountry !== 'USA'" href="tel:{{usefulInfo.info.telephone}}"><span [innerHTML]="callEmoji"></span></a></p>
            <p class="h3"> {{usefulInfo.info.telephone}}</p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col col-12 col-sm-4 col-md-4">
        <mat-card class="data-card">
          <mat-card-content>
            <p>Check &nbsp;<mat-icon svgIcon="tweet" (click)="openTweetSheet()" style="cursor: pointer;"></mat-icon></p>
            <p class="h3"><a style="color: #05263B;" rel="noopener" target="_blank" href="{{usefulInfo.info.moh}}">Ministry of Health ({{selectedCountry}})</a></p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col col-12 col-sm-4 col-md-4">
        <mat-card class="data-card">
          <mat-card-content>
            <p>More Info &nbsp;<span [innerHTML]="infoEmoji"></span></p>
            <p class="h3" *ngFor="let web of usefulInfo.info.websites"><a style="color: #05263B;" rel="noopener" target="_blank" href="{{web.site}}">{{web.name}}</a>
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-expansion-panel>
  <!-- <div class="pt-2">
    <div *ngIf="selectedCountry == 'India'"><rssapp-wall id="0FIuZiEGTinmTShJ"></rssapp-wall></div>
    <div *ngIf="selectedCountry == 'Germany'"><rssapp-wall id="ubIYumvcRAIkIcVg"></rssapp-wall></div>
    <div *ngIf="selectedCountry == 'USA'"><rssapp-wall id="FYjbgcQrZMUoX5Nw"></rssapp-wall></div>
  </div> -->
  <div class="text-center pt-3">
    <p class="mb-0"><small>Daily data retrieved from <a rel="noopener" target="_blank"
          href="https://github.com/CSSEGISandData/COVID-19">Johns Hopkins</a> and State data retrieved from official sources</small></p>
    <p><small>developer details <a routerLink="/sources">here</a></small></p>
    <p class="mb-1"><small>Stay Home Stay Safe</small></p>
  </div>
  <div class="modal fade" id="statemap-modal" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="display-4" id="modalTitle" style="font-size: 44px;">States of {{selectedCountry}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>This is the modal body</p>
          <!-- <google-chart [type]="gChartTypeState" [data]="gChartStateData" [options]="gChartStateOptions" [width]="300" [height]="300"></google-chart> -->
        </div>
      </div>
    </div>
  </div>
</div>


